body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#margem_sup{
    background-color: #004042 ; 
    height: 9px;
    width: 1368px;
    position: relative;
    bottom: 8px;
    right: 10px;
}
#logo{
    position: relative;
    left: 70px;
    bottom: 6px;
}
#outros_sites{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 1113px;
    top: 41px;
}
#contato{
    background-color: #e2e9e2;
    height: 404px;
    padding-right: 79px;
    padding-left: 79px;
    position: absolute;
    left: 0px;
}
#direitos{
    text-align: center;
}